@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
  background: #ccc;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* 네비게이션 스킵 */
.skip-nav {
  display: none;
}

/* Flex 방식 레이아웃 
1. 부모를 flex화 한다.
2. flex-flow를 이용하여 자식 요소들의 배치 방식을 결정한다.
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
} */

/* 레이아웃 */

.header,
.visual,
.main,
.slogan {
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 50px;
  left: 65px;
  margin: 0;
}

/* 안내 링크 목록 */
.member {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}
.member li {
  display: inline-block;
  padding: 2px 0;
}
.member a {
  display: inline-block;
  padding: 6px 0;
}

/* 네비게이션 */
.navigation {
  padding-bottom: 35px;
}
.menu {
  background: linear-gradient(
    to bottom,
    #b27b23 0%,
    #e26b2b 35%,
    #e26b2b 70%,
    #e26b2b 100%
  );
  border-top: 2px solid currentColor;
  margin: 10px 0 0 0;
  list-style: none;
  height: 47px;
  border-radius: 0 0 5px 5px;
  padding-left: 225px;
}
.menu-item {
  position: relative;
  float: left;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.menu-button {
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 45px;
  padding: 0 20px;
  border: 0;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-button {
  color: #ff0;
}
.menu-act .menu-button::after {
  content: '';
  border-top: 2px solid #000;
  display: block;
}
.sub-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  position: absolute;
  top: 47px;
  display: none;
  /* 부모 요소에서 줄바꿈 금지*/
  white-space: nowrap;
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 8px 0;
  margin-right: 10px;
}
.sub-menu a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e800';
}
.menu-act .sub-menu {
  display: block;
}
.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}
.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}

/* 텍스트 애니메이션 */

@keyframes textAni {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

.visual {
  height: 120px;
  position: relative;
}
.visual::before,
.visual::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  animation: bgAni 2000ms ease-in-out alternate infinite;
}
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual::before {
  background-image: url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after {
  background-image: url(./images/ani_flower_03.png),
    url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}
.visual-text {
  display: inline-block;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

.main {
  padding: 30px 15px;
  background: skyblue;
  overflow: hidden;
  min-height: 450px;
}

/* .clearfix::after {
  content: '';
  clear: both;
  display: block;
} */

/* .main {
  padding: 30px 0;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
} */

/* for IE not using space-evenly 
.main {
  padding: 30px 30px;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
} */

.group {
  border: 2px solid red;
  float: left;
  margin: 0 15px;
}
.group1 {
  padding: 10px;
  width: 250px;
}

.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

.slogan {
  background: orange;
}

.footer {
  background: pink;
  width: 100%;
}
