@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
  background: #fff;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* 네비게이션 스킵 */
.skip-nav {
  display: none;
}

/* Flex 방식 레이아웃 
1. 부모를 flex화 한다.
2. flex-flow를 이용하여 자식 요소들의 배치 방식을 결정한다.
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
} */

/* 레이아웃 */

.header,
.visual,
.main,
.slogan {
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: yellow;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 50px;
  left: 65px;
  margin: 0;
}

/* 안내 링크 목록 */
.member {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}
.member li {
  display: inline-block;
  padding: 2px 0;
}
.member a {
  display: inline-block;
  background-color: pink;
  padding: 6px 0;
}

.visual {
  background: lime;
  height: 120px;
}

.main {
  padding: 30px 15px;
  background: skyblue;
  overflow: hidden;
  min-height: 450px;
}

/* .clearfix::after {
  content: '';
  clear: both;
  display: block;
} */

/* .main {
  padding: 30px 0;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
} */

/* for IE not using space-evenly 
.main {
  padding: 30px 30px;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
} */

.group {
  border: 2px solid red;
  float: left;
  margin: 0 15px;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

.slogan {
  background: orange;
}

.footer {
  background: pink;
  width: 100%;
}
